.tutorialList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tutorialCard {
    position: relative;
    border: 1px solid #e1e1e1;
    border-top: 3px solid black;
    padding: 16px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.category {
    font-size: 0.8em;
    color: #555;
    font-weight: bold;
    margin-bottom: 5px;
    /* Adjust if necessary */
}

.categoryRule {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
    /* Space below the line for the title */
}

.tag {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FF4136;
    font-size: 0.7em;
    font-weight: bold;
}

.title {
    color: #0074D9;
    /* Blue color for the link */
    margin-bottom: 10px;
    font-size: 1.25em;
}

.description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    flex-grow: 1;
}

.duration {
    font-weight: bold;
    color: #555;
    font-size: 0.85em;
    padding-top: 10px;
}

.horizontalRule {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}